/*
.bx_breadcrumbs,
.news-detail-page{
}
.news-detail-page img{
    max-width: 100% !important;
}
.news-title{}
.news-separate{
    border-top:1px solid #828282;
    border-bottom:1px solid #c1c1c1;
    height: 0;
}
.news-customer{}
.news-detail-picture{
    margin-bottom: 15px;
}
.pluso{
    margin-bottom: 30px;
}
*/